header{
    background-color: var(--bgcolor1);
}
header .container{
    min-width: 100vw;
}
header .container .navbar{
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bgcolor1);
    color:white
}
header .container .navbar .menu-block-wrapper .nav-link-item{
    color:white
}

header .aximo-default-btn{
    height: 50px;
    line-height: 47.5px;
}

#signOutButton{
    color: white;
    font-weight: bold ;
}
@media (max-width: 991px) {
    .header-btn{
        visibility: hidden;
    }
}

.light-version-logo{
    max-height:50px
}
.selectBox{
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
}
.languageLabel{
    font-size:18px;
}
.selectContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin: 1rem;
    gap: 10px;
}