header{
    background-color: var(--bgcolor1);
}
header .container{
    min-width: 100vw;
}
header .container .navbar{
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bgcolor1);
    color:white
}
header .container .navbar .menu-block-wrapper .nav-link-item{
    color:white
}

header .aximo-default-btn{
    height: 50px;
    line-height: 47.5px;
}
@media (max-width: 991px) {
    .header-btn{
        visibility: hidden;
    }
}